.overlay-alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6); /* oscuro semi-transparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.container-alert {
  background-color: #31363F;
  color: #EEEEEE;
  padding: 2rem;
  border-radius: 12px;
  min-width: 320px;
  box-shadow: 0 0 10px #222831;
  text-align: center;
}

.modal-buttons {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.btn-login {
  background-color: #76ABAE;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  color: #222831;
  font-weight: bold;
}

.btn-cancel {
  background-color: transparent;
  border: 1px solid #76ABAE;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  color: #76ABAE;
}