.movie-card {
  background-color: #31363F; /* un poco más claro que el fondo principal */
  color: #e8e6e3;
  border: 1px solid #444857;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px #3A404A;
}
.movie-poster {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.review-btn {
  margin-top: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  background-color: #444857;
  color: #EEEEEE;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.review-btn:hover {
  background-color:#e0e0e0d9;
  cursor: pointer;
}

.stars {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}

.star {
  font-size: 20px;
  color: #444;
  transition: color 0.3s;
}

.star:hover,
.star:hover ~ .star {
  color: gold;


  
}