.movies-container{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
gap: 2rem;
justify-items: center;
padding: 2rem;

}

.alert-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 54, 63, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.alert-box {
  background-color: #222831;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  border: 2px solid #EEEEEE55;
  box-shadow: 0 0 15px #EEEEEE33;
}

.alert-message {
  color: #EEEEEE;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.alert-buttons {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.alert-btn {
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

.alert-btn.confirm {
  background-color: #76ABAE;
  color: #1f1f1f;
}

.alert-btn.cancel {
  background-color: #EEEEEE;
  color: #1f1f1f;
}

.alert-btn:hover {
  opacity: 0.85;
}